version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - JAEGER_AGENT_HOST=jaeger
      - LOKI_HOST=loki
      - PROM_HOST=prometheus

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "6831:6831/udp"
